[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "condir"]
	path = condir
	url = https://github.com/angelospsy/condir
[submodule "multifear"]
	path = multifear
	url = https://github.com/angelospsy/multifear
